*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#faf3ff;
color:#4b365f;
text-align:center;
}


/* Opening Page */

#opening{
position:fixed;
inset:0;
background:
linear-gradient(rgba(246,232,255,.85),rgba(246,232,255,.95)),
url("images/flowers.png");
background-size:cover;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
z-index:9999;
}


.envelope{
width:320px;
height:210px;
background:#d9b6e8;
position:relative;
border-radius:10px;
box-shadow:0 20px 40px rgba(100,60,130,.25);
overflow:hidden;
}


.flap{
position:absolute;
top:0;
left:0;
width:0;
height:0;
border-left:160px solid transparent;
border-right:160px solid transparent;
border-top:110px solid #c995df;
transform-origin:top;
transition:1.5s;
}


.letter{
background:#fff;
position:absolute;
width:90%;
height:150px;
left:5%;
top:40px;
padding:20px;
border-radius:10px;
}


.letter h3{
color:#9b6bb5;
font-size:18px;
}


.letter h1{
font-family:'Cinzel',serif;
color:#7b4b94;
margin:15px 0;
}


#openBtn{
margin-top:35px;
padding:15px 35px;
border:none;
border-radius:40px;
background:#a77ac2;
color:white;
font-size:16px;
cursor:pointer;
}



#opening.hide .flap{
transform:rotateX(180deg);
}


#opening.hide{
animation:fadeOut 1.5s forwards;
}


@keyframes fadeOut{

to{
opacity:0;
visibility:hidden;
}

}



/* Main Page */


#invitation{
background:#faf3ff;
}


.hero{
padding:70px 25px 40px;
background:#f5e7ff;
border-radius:0 0 50px 50px;
}


.hero h3{
color:#a77ac2;
}


.hero h1{
font-family:'Cinzel',serif;
font-size:50px;
color:#704080;
margin:20px;
}


.hero span{
color:#b58ac8;
}



section{
padding:50px 20px;
}




/* Couple */


.couple img{
width:300px;
max-width:90%;
animation:float 4s infinite ease-in-out;
}



@keyframes float{

50%{
transform:translateY(-15px);
}

}




/* Cards */


.card{
background:white;
margin:20px auto;
padding:25px;
max-width:360px;
border-radius:25px;
border:1px solid #dfc3ee;
box-shadow:0 10px 30px rgba(120,80,150,.15);
}



h2{
font-family:'Cinzel',serif;
color:#8b5ba5;
margin-bottom:25px;
}



/* Countdown */


#timer{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
}


#timer div{
background:white;
padding:20px;
border-radius:20px;
border:1px solid #ddc2eb;
}


#timer span{
display:block;
font-size:30px;
color:#9b6bb5;
}



/* RSVP */


.rsvp a{
display:inline-block;
margin-top:20px;
padding:12px 30px;
background:#a77ac2;
color:white;
border-radius:30px;
text-decoration:none;
}



footer{
background:#704080;
color:white;
padding:30px;
}


@media(max-width:600px){

.hero h1{
font-size:38px;
}

}